@font-face {
  font-family: "Circular Spotify Tx T Black";
  src: url("//db.onlinewebfonts.com/t/01173b246d9d9ea808ea75a26b3b61bb.eot");
  src: url("//db.onlinewebfonts.com/t/01173b246d9d9ea808ea75a26b3b61bb.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/01173b246d9d9ea808ea75a26b3b61bb.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/01173b246d9d9ea808ea75a26b3b61bb.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/01173b246d9d9ea808ea75a26b3b61bb.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/01173b246d9d9ea808ea75a26b3b61bb.svg#Circular Spotify Tx T Black")
      format("svg");
}

body {
  background: #1c2235;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Circular Spotify Tx T Black";
}

.form__container {
  background: white;
  width: 1089px;
  min-height: 753px;
  height: auto;
  box-sizing: border-box;
  background: #ffffff;
  border-radius: 14px;
  padding: 64px;
  /* overflow: hidden; */
  position: relative;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 625px;
  height: auto;
  position: relative;
  /* overflow: hidden; */
}

.form__progress {
  display: flex;
  justify-content: flex-end;
}

.form__progress > div {
  display: flex;
  flex-direction: column;
  width: 161px;
  height: 47px;
  justify-content: space-between;
}

.form__progress small {
  width: 161px;
  white-space: nowrap;
  font-family: "Circular Spotify Tx T Black";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  /* identical to box height */

  color: #1c2235;
}

.progress__bar {
  background: #eaecf1;
  border-radius: 6px;
  width: 161px;
  height: 14px;
}

.form__header {
  display: flex;
  justify-content: space-between;
  margin-top: 84px;
}

.form__heading span {
  font-family: "Circular Spotify Tx T Black";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 51px;
  /* identical to box height */

  color: #1c2235;
}

.add__state button {
  font-family: "Circular Spotify Tx T Black";
  background: #1c2235;
  width: 167px;
  height: 41.53px;
  border-radius: 6px;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-style: normal;
  font-size: 16px;
}

.states {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  margin-bottom: 200px;
}

.state {
  width: 209px;
  display: flex;
  height: inherit;
  transition: all linear 0.25s;
}

.state__bar {
  min-width: 8px !important;
  background: #d1d5dd;
  height: inherit;
  border-radius: 3px;
  transition: all linear 0.25s;
  margin-right: 12px;
}

.active__state {
  background: #1c2235;
}

.state__reveal button {
  font-family: "Circular Spotify Tx T Black";
  width: 189px;
  height: 47px;
  background: #1c2235;
  border-radius: 6px;
  font-size: 16px;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.state__transitions {
  overflow: hidden;
}

.transition button {
  width: 189px;
  height: 47px;
  background: #d1d5dd;
  border-radius: 6px;
  color: #1c2235;
  cursor: pointer;
}

.hidden {
  height: 0;
}

.proceed {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-top: 64px;
  position: absolute;
  bottom: 0px;
}

.proceed button {
  font-family: "Circular Spotify Tx T Black";
  width: 189px;
  height: 47px;
  background: #1c2235;
  border-radius: 6px;
  font-size: 16px;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.transition__form__container {
  width: 933px;
  height: 461px;
  box-sizing: border-box;
  background: #d1d5dd;
  border-radius: 6px;
  padding: 0px 64px;
  display: flex;
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

form {
  display: flex;
  width: 100%;
}

.transition__form__left, .transition__form__right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 95%;
}

.input__field {
  width: 361px;
  height: 47px;
  background: #ffffff;
  border-radius: 6px;
  border: none;
  outline: none;
}

.input button {
  font-family: "Circular Spotify Tx T Black";
  width: 189px;
  height: 47px;
  background: #1c2235;
  border-radius: 6px;
  font-size: 16px;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.robo {
  position: absolute;
  right: -90px;
  bottom: 20px;
}

input:focus, button:focus {
  outline: none;
}
